@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
	background-color: rgb(46, 46, 46);
	margin: 0px;
	padding: 0px;
}

.resultbox {
	height: calc((20vw - (50px / 3)) + ((20vw - (50px / 3)) / 2));
	width: calc(100vw - 50px);
	display: grid;
	grid-template-columns: calc(20vw - (50px / 3)) calc(60vw - (50px / 3)) calc(20vw - (50px / 3));
	grid-template-rows: calc(20vw - (50px / 3)) calc((30vw - 50px) - (20vw - (50px / 3)));
	border-radius: 7px;
	overflow: hidden;
	margin-bottom: 7px;
}

.resultcontainer {
	padding: 5px;
	margin: 10px;
	margin-top: 15px;
	background-color: rgb(26, 26, 26);
	width: auto;
	height: auto;
	display: none;
	border: 10px solid transparent;
	border-radius: 10px;
	overflow: hidden;
	overflow-y: scroll;
	scrollbar-width: none;
}

.searchresults {
	display: inline-block;
}

.cover {
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 2;
}

.cover img {
	width: calc(20vw - (50px / 3));
	height: calc(20vw - (50px / 3));
}

.infobg,
.infotext {
	position: relative;
	grid-column-start: 2;
	grid-row-start: 1;
	grid-column-end: 3;
	grid-row-end: 2;
	width: calc(60vw - (50px / 3));
	height: calc(20vw - (50px / 3));
}

.infotext {
	font-family: 'Lato', sans-serif;
	filter: none;
}

.infotext h3 {
	font-weight: bold;
	font-size: 4vw;
	margin-top: 1vw;
	margin-left: 1vw;
	margin-bottom: 0;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: calc(59vw - (50px / 3));
}

.infotext h4 {
	font-weight: lighter;
	font-size: 3vw;
	margin-top: 1vw;
	margin-left: 1vw;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: calc(59vw - (50px / 3));
}

.playbutton {
	grid-column-start: 1;
	grid-row-start: 2;
	grid-column-end: 3;
	grid-row-end: 3;
}

.addbutton {
	grid-column-start: 3;
	grid-row-start: 1;
	grid-column-end: 4;
	grid-row-end: 3;
}

.playbutton button,
.addbutton button {
	transition: 0.25s;
	background-color: var(--color);
	border: none;
	font: inherit;
}

.addbutton button {
	width: calc(20vw - (50px / 3));
	height: calc((20vw - (50px / 3)) + ((20vw - (50px / 3)) / 2));
	--color: white;
	--hover: #b388ff;
	--height: calc(30vw - (50px / 3));
	border: 3px solid #651fff;
	border-radius: 0px 7px 7px 0px;
	color: #651fff;
	cursor: pointer;
}

.addbutton button.added {
	box-shadow: inset var(--height) 0 0 0 #651fff;
	border: 3px solid white;
	color: white;
}

.addbutton button.unadded i.fa-check {
	display: none;
}

.addbutton button.added i.fa-check {
	display: inline;
}

.addbutton button.added i.fa-plus {
	display: none;
}

.playbutton button {
	width: calc((60vw - (50px / 3)) + (20vw - (50px / 3)));
	height: calc((20vw - (50px / 3)) / 2);
	--color: #651fff;
	--hover: #6200ea;
	--height: 8vw;
	border: 3px solid white;
	border-radius: 0px 0px 0px 7px;
	color: white;
	cursor: pointer;
}

.playbutton button.on {
	box-shadow: inset 0 var(--height) 0 0 white;
	border: 3px solid var(--color);
	color: var(--color);
}

.playbutton button.on i.fa-play {
	display: none;
}

.playbutton button.on i.fa-stop {
	display: inline;
}

.playbutton button.off i.fa-play {
	display: inline;
}

.playbutton button.off i.fa-stop {
	display: none;
}

.playbutton button.on i.fa-times,
.playbutton button.off i.fa-times {
	display: none;
}

.playbutton button.nopreview {
	color: gray;
	border: 3px solid gray;
	background-color: silver;
	cursor: default;
}

.playbutton button.nopreview i.fa-times {
	display: inline;
}

.playbutton button.nopreview i.fa-stop,
.playbutton button.nopreview i.fa-play {
	display: none;
}

/*-----------------------------------------------------------------*/

.search {
	height: 40px;
	position: relative;
	display: flex;
	--sColor: #651fff;
}

.searchTerm {
	width: 100%;
	border: 3px solid var(--sColor);
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9dbfaf;
	font-family: 'Lato', sans-serif;
	color: var(--sColor);
	padding-left: 10px;
}

.searchButton {
	width: 40px;
	border: 3px solid var(--sColor);
	background: var(--sColor);
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 75vw 25vw;
	grid-template-rows: 46px 46px calc(100vh - 2 * 46px);
}

.search {
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 3;
	grid-row-end: 2;
	margin: 10px 10px 0px 10px;
}

.volumewrapper {
	grid-column-start: 1;
	grid-row-start: 2;
	grid-column-end: 2;
	grid-row-end: 3;
	margin: 10px 5px 0px 10px;

	display: flex; /* establish flex container */
	flex-direction: row; /* default value; can be omitted */
	flex-wrap: nowrap; /* default value; can be omitted */
	justify-content: space-between;

	padding: 0 20px 0 20px;
}

.quantitywrapper {
	grid-column-start: 2;
	grid-row-start: 2;
	grid-column-end: 3;
	grid-row-end: 3;
	margin: 10px 10px 0px 5px;
	position: relative;
}

.volumewrapper i {
	position: relative;
	color: #651fff;
	height: fit-content;
	width: fit-content;

	top: 50%;
	transform: translate(0%, -50%);
}

.resultcontainer {
	grid-column-start: 1;
	grid-row-start: 3;
	grid-column-end: 3;
	grid-row-end: 4;
}

.quantitywrapper input {
	border: 3px solid #651fff;
	border-radius: 5px;
	height: 28px;
	width: calc(25vw - 26px);
	font-family: 'Lato', sans-serif;
	color: #651fff;
}

#volume {
	position: relative;
	height: 5px;
	width: 70%;
	background: #555;
	border-radius: 15px;

	top: 50%;
	transform: translate(0%, -50%);
}
#volume .ui-slider-range-min {
	height: 5px;
	width: 90%;
	position: absolute;
	background: #651fff;
	border: none;
	border-radius: 10px;
	outline: none;
}
#volume .ui-slider-handle {
	width: 5px;
	height: 20px;
	border-radius: 20px;
	background: #fff;
	position: absolute;
	margin-left: -2px;
	margin-top: -8px;
	cursor: pointer;
	outline: none;
}
