@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: 'Lato', monospace;
	text-align: center;
}

html {
	background-color: rgb(46, 46, 46);
	display: inline-block;
}

.head {
	background-color: #651fff;
	color: white;
	text-align: center;
}

.head > h1 {
	padding: 10px;
}

.info {
	border: 1px solid red;
}
.instructions {
	border: 1px solid red;
}

.login-button {
	width: max-content;
	margin: 5px;
	padding: 20px;
	font-family: 'Source Code Pro', monospace;
	font-size: x-large;
	border: transparent;
	border-radius: 3px;
	color: whitesmoke;
	background: rgb(0, 128, 0);
	cursor: pointer;
}
